<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.min.js" integrity="sha256-I5XOWZu6gbewMSB9UR88y0GmiJi9AsQcCzUpA/MBNnA=" crossorigin="anonymous"></script>
    <title>Js tools</title>
    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <div id="app">
        <letters-counter></letters-counter>
        <json-parser></json-parser>
        <punycode-converter></punycode-converter>
    </div>
    <script>
        Vue.component('letters-counter', {
            data: function() {
                return {
                    word: ''
                }
            },
            computed: {
                letters: function() {
                    return this.word.length;
                },
                words: function() {
                    let result = this.word;
                    result = result.replace(/(^\s)|(\s*$)/gi, '');
                    result = result.replace(/[ ]{2,}/gi, ' ');
                    result = result.replace(/\n /, '\n');
                    return result.split(' ').length;
                }
            },
            template: `<div>
                <h2>Letter counter</h2>
                <textarea v-model="word"></textarea>
                <p>{{letters}} letters</p>
                <p>{{words}} words</p>
            </div>`
        })
        Vue.component('json-parser', {
            data: function() {
                return {
                    rawJson: ''
                }
            },
            computed: {
                result: function() {
                    if (!this.rawJson) {
                        return '';
                        
                    }
                    let json = JSON.parse(this.rawJson);
                return JSON.stringify(json, null, '\t');
                }
            },
            template: `
            <div>
                <h2>Json parser</h2>
                <textarea v-model="rawJson"></textarea>
                <p>
                    <pre>{{result}}</pre>
                </p>
            </div>
            `
        })
        Vue.component('punycode-converter', {
            data: function() {
                return {
                    punycode: '',
                    utf: ''
                }
            },
            computed: {
                resultPunycode: function() {
                    return window.punycode.toASCII(this.utf);
                },
                resultASCII: function() {
                    return window.punycode.toUnicode(this.punycode);
                }
            },
            template: `
                <div>
                    <h2>Punycode converter</h2>
                    <h3>utf -> punycode</h3>
                    <input v-model="utf">
                    <div>result:</div>
                    <p>{{resultPunycode}}</p>
                    <h3>punycode -> ascii </h3>
                    <input v-model="punycode">
                    <div>result:</div>
                    <p>{{resultASCII}}</p>
                </div>
            `
        })
        var App = new Vue({
            el: '#app',
            data: {
                message: 'Hello'
            }
        });
    </script>
</body>
</html>